{% extends "base.html" %}


<body>
    <div class="sidenav">
      {% block msg %}
      <h1 style="color:aliceblue">Welcome to your CompSci 316 Mini Amazon account!</h1>
      <div style="color: aliceblue; text-align: right; margin-bottom: 25px">
        {% if current_user.is_authenticated %}
          Hello {{current_user.firstname}}! <a href="{{ url_for('users.logout') }}" type="button" class="btn btn-light">Log out</a>
        {% else %}
          <a href="{{ url_for('users.login') }}" type="button" class="btn btn-light">Log in</a>
        {% endif %}
          <a href="{{ url_for('api.api') }}" type="button" class="btn btn-light">HW 4</a>
          <a href="{{ url_for('loginview.loginview') }}" type="button" class="btn btn-light">Profile</a>
          <a href="{{ url_for('loginview.addBalance') }}" type="button" class="btn btn-light"> Add Balance</a>
          <a href="{{ url_for('loginview.withdrawBalance') }}" type="button" class="btn btn-light"> Withdraw Balance</a><br><br>
          <a href="{{ url_for('loginview.changeName') }}" type="button" class="btn btn-light"> Change Name</a><br><br>
          <a href="{{ url_for('loginview.changeEmail') }}" type="button" class="btn btn-light"> Change Email</a><br><br>
      </div>
      {% endblock %}
    </div>
    <div class="main">
      {% block content %}
      <h1 style="color:black; text-align: center;">  </h1>
      <h1 style="color:black; text-align: center;"> Hello {{current_user.firstname}}! </h1>
      <h1 style="color:black; text-align: center;"> Your account ID is {{current_user.uid}} </h1>
      <h1 style="color:black; text-align: center;"> Your full name is: {{current_user.firstname}} {{current_user.lastname}} </h1>
      <h1 style="color:black; text-align: center;"> Balance: {{current_user.balance}} </h1>

        <div style="color: black; text-align: center; margin-bottom: 50px">
            Your address is: {{current_user.address}}
        </div>
      {% endblock %}
    </div>
  </body>



