{% extends "base.html" %}

{% block content %}

<body>
    <div class="sidenav">
      {% block msg %}
        <h1 style="color:aliceblue">Welcome to your CompSci 316 Mini Amazon Account!</h1>
        <div style="color: aliceblue; text-align: right; margin-bottom: 25px">
            Hello {{current_user.firstname}}! 
            Your account ID is {{current_user.uid}}
            Your full name is: {{current_user.firstname}} {{current_user.lastname}}! 
            Your address is: {{current_user.address}}
        </div>
      {% endblock %}
    </div>
    <div class="main">
      {% block content %}{% endblock %}
    </div>
  </body>

<h1>APIs</h1>
<a href="{{ url_for('api.users') }}" type="button" class="btn btn-default">Users</a><br><br>
<a href="{{ url_for('api.products') }}" type="button" class="btn btn-default">Products</a><br><br>
<a href="{{ url_for('api.carts') }}" type="button" class="btn btn-default">Carts</a><br><br>
<a href="{{ url_for('api.sellers') }}" type="button" class="btn btn-default">Sellers</a><br><br>
<a href="{{ url_for('api.social') }}" type="button" class="btn btn-default">Social</a>
{% endblock %}
