{% extends "base.html" %}

{% block content %}


<form class="search" action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <!-- prod_id: {{prod_id}} -->
  <p>

    <!-- <ins>Filter by Category</ins> -->
    <tbody>
      {% for product in avail_products%}
      
      <div class="card">
        <img src={{product.image}} style="width:100%">
        <h1>{{product.product_name}}</h1>
        <p class="price">${{product.price}}</p>
        <p>{{product.description}}</p>
        <p>{{product.category}}</p>
        <p>About this item: {{product.description}}</p>
        <p>Reviews: {{product.review}}</p>
        <p>Rating:
          <span class="score"><span style="width: {{product.rating*20}}%"></span></span></p>
        <p>{{product.seller}}</p>
        <p><button>Add to Cart</button></p>
      </div>
      {% endfor %}
    </tbody>
  
    {% for error in form.search_key.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <tbody>
      {% for rel_product in related_products%}
      
      <div class="card">
        <img src={{rel_product.image}} style="width:100%">
        <h1>{{rel_product.product_name}}</h1>
        <p class="price">${{rel_product.price}}</p>
        <p>Rating:
          <span class="score"><span style="width: {{rel_product.rating*20}}%"></span></span></p>
        <p>{{rel_product.seller}}</p>
        <p><button>Add to Cart</button></p>
      </div>
      {% endfor %}
    </tbody>

  </p>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  <div style="position:absolute; left:800px; top:60px; background-color:black;">
    <!-- {{ form.submit(class_="btn btn-black") }} -->
  </div>
  <br><br>
    <br><br>
    {% if current_user.is_authenticated %}
    <h2>Your recent purchases:</h2>
    {% else %}
    <p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
    {% endif %}

    {% endblock %}
